<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234828339364-vkmm8gruah30aj0of4lati72vfhgga1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234828339364-vkmm8gruah30aj0of4lati72vfhgga1g</string>
	<key>API_KEY</key>
	<string>AIzaSyC23ZJ58UyPrWRTR28jGgzQII5OAwu5_Qw</string>
	<key>GCM_SENDER_ID</key>
	<string>234828339364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monysa.moby</string>
	<key>PROJECT_ID</key>
	<string>monysa-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>monysa-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234828339364:ios:44704f431b46be0e5cee31</string>
</dict>
</plist>